---
import { Github } from 'lucide-astro'
---

<footer class="container mx-auto px-8 py-12">
  <div class="flex flex-col items-center justify-center gap-y-4 text-center">
    <p class="text-silver-100">
      Desarrollado con 💜 por{' '}
      <a
        href="https://maxcoding.pro"
        target="_blank"
        rel="noopener noreferrer"
        class="font-medium text-violet-300 hover:text-violet-400 transition-colors"
      >
        Maxcoding
      </a>
    </p>
    <a
      href="https://github.com/Max29xD/fast-speed-test"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center gap-x-2 rounded-full bg-violet-400/10 px-4 py-2 text-violet-300 transition-colors hover:bg-violet-400/20"
    >
      <Github class="size-5" />
      Ver código fuente
    </a>
  </div>
</footer>
